/* TABLE OF CONTENT
--------------------
1. General
2. Navbar
3. Banner
4. Counter
5. About
6. Story
7. Explore Food
8. Testimonial
9. Team
10. Book food
11. Footer

-------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover{
    color: var(--primary-color)!important;
}

ul{
    margin: 0;
    padding: 0;
}


/*=========   Variable Defined ========== */
:root {
    --primary-color: #F5C332;
    --secondary-color: #231E41;
    --white-color: #fff;
    --black-color: #1c1c1c;
    /*========= text color Variable ========== */

    --text-primary: #F5C332;
    --text-secondary: #231E41;
    --text-white: #fff;
    --text-color: #555;
    --text-gray:#999;
}

/*1 Custom CSS */

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 400;
}

::-webkit-scrollbar{
    width: 0.425rem;
}

::-webkit-scrollbar-track{
    background: var(--white-color);
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

h1{
    font-size: 3.125rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--text-secondary);
    text-transform: capitalize;
}

h2{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--text-secondary);
    text-transform: capitalize;
}

h4{
    font-size: 1.123rem;
    font-weight: 800;
    color: var(--text-secondary);
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}

h5{
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text-secondary);
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}

p{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: .0625rem;
}

.main-btn {
    padding: 0.625rem 1.875rem;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0 .125rem .625rem --0.0625rem rgb(0 0 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    border: 0.1875rem solid var(--primary-color);
    border-radius: 0.175rem;
    background-color: var(--primary-color);
    color: var(--black-color);
}

.main-btn:hover {
    background: transparent;
    color: var(--primary-color);
}

.wrapper {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.counter-section h2,
.testimonial-section h2,
.book-food-text h2 {
    color: var(--text-primary);
}



/*2 Navbar Design*/
.navigation-wrap.scroll-on{
    position: fixed;
    width: 100%;
    left: 0;
    background-color: var(--white-color);
    z-index: 1000;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navigation-wrap .navbar-brand img{
    width: 13rem;
}

.navigation-wrap .nav-item {
    padding: 0 0.625rem;
    transition: all 200ms linear;
}

.navigation-wrap .navbar-toggler:focus{
    outline: none;
    border: unset;
    box-shadow: none;
}

.navigation-wrap .nav-link{
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-secondary);
    letter-spacing: .0625rem;
}


.navigation-wrap .main-btn{
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}

/*3 Banner Design */
.top-banner{
    width: 100%;
    background-image: url("../images/bg/bg-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14.875rem 0 9.375rem;
}

/*4 counter Design*/
.counter-section{
    background-color: var(--black-color);
    padding: 2.5rem 0;
}

.counter-section p{
    color: var(--text-white);
    text-transform: uppercase;
    margin-bottom: 0;
}

/*5 about section Design*/
.food-type{
    padding-top: 3.25rem;
}

.food-type ul li{
    font-size: 1rem;
    color: var(--text-color);
    line-height: 2rem;
    position: relative;
    margin-left: 1.875rem;     
}

.food-type ul li::before{
    position: absolute;
    left: -2.1875rem;
    color: var(--text-primary);
    font-size: 1.25rem;
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    display: inline-block;
    font-weight: 900;
}


/*6 Story section Design*/
.story-section{
    width: 100%;
    height: 28.125rem;
    background-image: url("../images/bg/bg-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 6.25rem;
    text-align: center;
}


/*7 explore food Design*/
.explore-food .card{
    background: transparent;
    border-radius: 0.9375rem;
    border: .125rem dashed var(--primary-color) ;
}

.explore-food .card img {
    border-radius: 0.9375rem 0.9375rem 0 0;
    object-fit: cover;
}

.explore-food .card span{
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-primary);
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid var(--primary-color);
}

.explore-food .card span del{
    color: var(--text-gray);
    margin-left: 0.5rem;
}
/*8 Testimonial section Design*/

.testimonial-section{
   background-image: url("../images/bg/bg-4.jpg"); 
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
}

.testimonial-section .carousel-item{
    margin-top: 3rem;
    padding: 10rem 3.125rem;
    background-color: var(--white-color);
    border-radius: 0.9375rem;
    text-align: center;
}

.testimonial-section .carousel-item img {
    max-width: 5rem;
    border-radius: 50%;
    padding: 0.3125rem;
    border: .125rem solid var(--primary-color);
}

.testimonial-section .carousel-item .carousel-caption p{
    font-size: 1.3125rem;
    line-height: 2.0625rem;
    padding: 0.625rem 11%;
}

.testimonial-section .carousel-indicators{
    bottom: -4.9125rem;
}

.testimonial-section .carousel-indicators button{
    width: .9375rem;
    height: .9375rem;
    border-radius: 50%;
}


/*9 Team section Design*/
.team .card {
    background-color: var(--black-color);
    border-radius: 0.625rem;
    border: .25rem solid var(--primary-color);
    text-align: center;
}

.team .card img{
    border-radius: 0.625rem 0.625rem 0 0;
}

.team h4{
    color: var(--text-primary);
    text-transform: uppercase;
}

.team h6, 
.team p{
color: var(--text-white);
}

.team .social-icon i{
    font-size: 1.125rem;
    transition: 3s all ease;
    margin: .3125rem;
    background-color: var(--primary-color);
    color: var(--text-white);
    border-radius: 50%;
    width: 2.1875rem;
    height: 2.1875rem;
    line-height:2.1875rem;
}

.team .social-icon i:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
}


/*10 Book Food section Design*/
.book-food{
    width: 100%;
    background: url("../images/bg/bg-3.jpg");
    background-position: 0 4.4945rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 4.375rem 0;
}

/*11 Download app section Design*/
.download-app{
    width: 100%;
    background-image: url("../images/bg/bg-5.jpg");
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;

}


/*12 Footer section Design*/
.footer{
    background: var(--black-color);
}

.footer .footer-link{
    font-size: 1rem;
    color: var(--text-white);
    padding: 0 1.875rem;
}

.footer a{
    font-size: 1.5rem;
    color: var(--text-white);
    padding: 0 1rem;
}